<launch>
  <node pkg="pimouse_ros" name="buzzer" type="buzzer.py" required="true" />
  <node pkg="pimouse_ros" name="lightsensors" type="lightsensors.py" required="true" />
  <node pkg="pimouse_ros" name="motors" type="motors.py" required="true" />
  <test test-name="test_buzzer" pkg="pimouse_ros" type="travis_test_buzzer.py" />
  <test test-name="test_lightsensors" pkg="pimouse_ros" type="travis_test_lightsensors.py" />
  <test test-name="test_motors" pkg="pimouse_ros" type="travis_test_motors.py" time-limit="60.0" />
</launch>
