<launch>
  <node pkg="pimouse_ros" name="buzzer" type="buzzer.py" required="true" />
  <node pkg="pimouse_ros" name="lightsensors" type="lightsensors.py" required="true" />  <!--追加-->
  <test test-name="test_buzzer" pkg="pimouse_ros" type="travis_test_buzzer.py" />
  <test test-name="test_lightsensors" pkg="pimouse_ros" type="travis_test_lightsensors.py" /> <!--追加-->
</launch>
